.form-group {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group1 {

    padding-top: 50px;

}

.form-group2 {
    padding-top: 50px;
    text-align: center;
}

.uuu {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    border-style: double;
    border-radius: 20px;
    background-color: #000000;
}

.uuu1 {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#log1 {
    display: flex;
}

#i111 {

    justify-content: center;

}

.btt {
    padding-top: 10px;
    text-align: center;
}

#melns {
    background-color: black;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#gradient-custom {

    background: #A71D31;

    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    background: linear-gradient(to right, #000000, #ffffff, #000000)
}

.btn {
    background-color: #000000 !important;
}

.btn-info {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

#kk {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.lala {
    padding-bottom: 2px;
    text-align: center;
}

.lala1 {

    text-align: center;
}

.lala2 {

    text-align: center;
}

.lielss {
    color: white;
    padding-top: 50px;
}

.liels1 {

    padding-bottom: 2px;
}

.liels2 {

    padding-bottom: 2px;
}



.nav-toggle {
    width: 290px;
    height: 290px;
}

.nav-toggle2 {
    width: 290px;
    height: 290px;
}

.nav-toggle3 {
    width: 290px;
    height: 290px;
}

#collapse {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
}

#collapse2 {
    color:black;
    padding-left: 40px;
    padding-right: 40px;
}

#collapse3 {
    color:black;
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    padding-top: 50px;

}


#virsraksts {
    color: white;
    font-size: 50px;
}

#bb {
    float: left;
    border-color: #000000;
}

.bak {
    border: 1.5px solid;
    border-left: 0;
    border-bottom: 0;
    border-right:0;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 80%);
    border-image-slice: 1;
    padding-top: 30px;
}
