.form-group {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group1 {
    padding-top: 50px;
}

.form-group2 {
    padding-top: 50px;
    text-align: center;
}

.card-title {
    color: white;
}

#size1 {
    height: 25px;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    float: right;
}

#size2 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size3 {
    height: 25px;
    color: #000;
    float: right;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size4 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size5 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size6 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size7 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size8 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size9 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size10 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size11 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#size12 {
    height: 25px;
    float: right;
    color: #000;
    background-color: #cdcdcd91;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    /* padding-right: calc(var(--bs-gutter-x) * .5); */
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.form-control1 {
    text-align: center;
    width: 250px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 25px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.uuu {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    border-style: double;
    border-radius: 20px;
    background-color: #000000;
}

.uuu1 {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#log1 {
    display: flex;
}

#i111 {
    justify-content: center;
}

.btt {
    padding-top: 10px;
    text-align: center;
}

#melns {
    background-color: black;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#gradient-custom {
    background: linear-gradient(to right, #000000,#cacaca, #cacaca, #cacaca, #000000);
}

.btn {
    background-color: #000000 !important;
}

.btn-info {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

#kk {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.lala {
    padding-bottom: 2px;
    text-align: center;
}

.lala1 {
    text-align: center;
}
.card1-body {

    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.lala2 {
    text-align: center;
}

.lielss {
    color: white;
    padding-top: 50px;
}

.liels1 {
    padding-bottom: 2px;
}

.liels2 {
    padding-bottom: 2px;
}

.nav-toggle {
    width: 290px;
    height: 290px;
}

.nav-toggle2 {
    width: 290px;
    height: 290px;
}

.nav-toggle3 {
    width: 290px;
    height: 290px;
}

#p1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#collapse {
    text-align: center;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    background-color: #fff;
}

#collapse2 {
    text-align: center;
    color:black;
}

#collapse3 {
    text-align: center;
    color:black;
}

.container {
    padding-top: 50px;
}

#virsraksts {
    color: white;
    font-size: 50px;
}

#bb {
    float: left;
    border-color: #000000;
}

#nulll {
    color: rgb(0, 0, 0);
}


.box-1 {
    text-align: center; 
    background-color: #ff666600; 
  }
  
  .btn2 {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0rgba(255, 255, 255, 0.15),0 1px 1pxrgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25remrgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    /* line-height: var(--bs-btn-line-height); */
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
  .btn-one {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;
  }
  
  .btn-one span {
    transition: all 0.3s;
  }
  
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.1, 1);
  }
  
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgb(0 0 0 / 17%);
}
  
  .btn:hover {
    color: #000000;
    text-decoration: none;
  }
  
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

.bak {
    /* border: 1.5px solid;
    border-left: 0;
    border-bottom: 0;
    border-right:0; */
    /* border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 80%);
    border-image-slice: 1; */
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    font-weight: 900;
    text-align: center;
}

a1 {
    color: #000000;
    text-decoration: underline;
}

#textt {
    color: #fff;
    background-color: #00000058;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 7px 5px rgb(0 0 0 / 60%);
}

.viskopa {
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
}

.zimoli {
    display: flex;
    padding-top: 20px;
}

.nikee {
    padding-left: 48px;
    padding-right: 48px;
}

.adidass {
    padding-right: 20px;
}



.vanss {
    padding-left: 20px;
}

.augsatext {

    background-color: #212529;
    background-color: #00000058;
    border-radius: 25px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    text-align: center;
}



.row1 {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    flex-direction: row;
    /* padding-bottom: 20px; */
  }

  .card-img, .card-img-top {
    border-radius: 25px;
    /* border-top-left-radius: var(--bs-card-inner-border-radius); */
    /* border-top-right-radius: var(--bs-card-inner-border-radius); */
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
}

.list-group-item1 {
    border-radius: 25px;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    --bs-card-inner-border-radius: calc(0.375rem - );
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

  .col3 {
    margin: 20px;
  }


  .lielaiss {
        border: 1.5px solid;
    border-left: 0;
    border-right:0; 
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 95%);
    border-image-slice: 1;
  }

  .cardimg {
    border-radius: 25px;
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
  }
  
  .col {
    flex: 1 0 0%;
    display: flex;
    justify-content: center;
  }

  .card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    flex-direction: column;
}