.lielaisdiv {
    /* z-index: 1; */
    /* padding-bottom: 319px; */
    padding-top: 38px;
}

.imagew {
    z-index: -1;
    position: absolute;
    object-fit: cover;
}

h1 {
    text-align: center;
}

.invert .btn10-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}

.invert .btn10-one span {
  transition: all 0.3s;
}

.invert .btn10-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}

.invert .btn10-one:hover span {
  letter-spacing: 2px;
}

.invert .btn10-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.invert .btn10-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}

.invert .btn10:hover {
  color: #ffffff;
  text-decoration: none;
}

.invert .btn10-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.btn10 {
  line-height: 35px;
  /* height: 50px; */
  border: none;
  text-align: center;
  background-color: transparent;
  width: 155px;
  cursor: pointer;
}

.btn10-one {
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  position: relative;
}

.btn10-one span {
  transition: all 0.3s;
}

.btn10-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}

.btn10-one:hover span {
  letter-spacing: 2px;
}

.btn10-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}


.btn10-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn10:hover {
  color: #000000;
  text-decoration: none;
}

.btn10-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.virsra {
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    /* padding-top: 302px; */
    padding-bottom: 15px;
}

.invert .virsra {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  /* padding-top: 238px; */
  /* padding-bottom: 55px; */
}

.col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 800px;
    padding-top: 186px;
    padding-bottom: 203px;
}

.formss {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  display: block;
  width: 101.5%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ced4da00;
  border-radius: 0px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.butooni {
    display: flex;
    width: 101.5%;
    justify-content: space-between;
}

.invert #carder {
    color: white;
    background: linear-gradient(to right, #343434, #575757);
}

.invert .form-control::-webkit-input-placeholder {
  color:rgb(255, 255, 255);
  text-align: center;
  padding-left: 15px;
}

.form-control::-webkit-input-placeholder {

  text-align: center;
  padding-left: 15px;
}

.invert .form-control {
  border: 0px solid #00000000;
  /* margin: auto; */
  color: white;
  background-color: #585858;
}

.invert .btn4-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}

.invert .btn4-one span {
  transition: all 0.3s;
}

.invert .btn4-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}

.invert .btn4-one:hover span {
  letter-spacing: 2px;
}

.invert .btn4-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.invert .btn4-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}

.invert .btn4:hover {
  color: #ffffff;
  text-decoration: none;
}

.invert .btn4-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.btn4 {
    line-height: 35px;
    /* height: 50px; */
    text-align: center;
    width: 100px;
    cursor: pointer;
}

  .btn4-one {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;
  }

  .btn4-one span {
    transition: all 0.3s;
  }

  .btn4-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.1, 1);
  }

  .btn4-one:hover span {
    letter-spacing: 2px;
  }

  .btn4-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }


  .btn4-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .btn4:hover {
    color: #000000;
    text-decoration: none;
  }

  .btn4-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }


  .btn5 {
    line-height: 35px;
    /* height: 50px; */
    text-align: center;
    width: 100px;
    cursor: pointer;
}

  .btn5-one {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;
  }

  .btn5-one span {
    transition: all 0.3s;
  }

  .btn5-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.1, 1);
  }

  .btn5-one:hover span {
    letter-spacing: 2px;
  }

  .btn5-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }


  .btn5-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .btn5:hover {
    color: #000000;
    text-decoration: none;
  }

  .btn5-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}


.input-group {
    position: relative;
    display: flex;
    -ms-flex-align: stretch;
    width: 100%;
    justify-content: center;
}

#carder {
    display: flex;
    align-items: center;
    justify-content: center;
}
