#rod2 {
  width: 120px;
  height: 120px;
  filter: brightness(0) invert(1);
}
.uu1 {
  padding-bottom: 19px;
  padding-top: 12px;
}

.de {
  padding-bottom: 10px;
}

#vajg1 {
  padding-top: 3px;
}

#vajg2 {
  padding-top: 3px;
}
.uu2 {
  padding-top: 12px;
}

.deda {
  padding-top: 10px;
  display: flex;
  float: right;
}
.ded {

  
  display:flex;
}

#dedd {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}

#dedd {
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: 0 3px 4px rgba(255, 255, 255, 0.352);
}
#dedd {
  
  padding-left: 5%;
  padding-right: 5%;
}
#navbarsExample03 {
  overflow:auto;
}

label {
  width:80px;
  height:40px;
  position: relative;
  display: block;
  background: #000000;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}

label:after {
  content: "";
  width:20px;
  height: 20px;
  position: absolute;
  top:10px;
  left:10px;
  background: linear-gradient(180deg,#0e01ff,#00d1f3);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
input {
  width: 0;
  height: 0;
}
input:checked + label {
  background: #000000;
}
input:checked + label:after {
  left:70px;
  transform: translateX(-100%);
  
}
label, label:after {
  transition: 0.3s
}

body {
  color: white;
  background: linear-gradient(to right, #000000, #575757)
}

.invert {
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #aeaeae, #ffffff);
  filter: invert(100%);
}

.btn-info {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

#ir2 {
  padding-left: 50px;
  padding-right: 50px;
  width: 250px;
  float: left;
  border: 1.5px solid;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}

#rod1 {
  width: 95px;
  height: 95px;
  filter: brightness(0) invert(1);
}

#rod3 {
  width: 135x;
  height: 135px;
  filter: brightness(0) invert(1);
}

#ir1 {
  padding-top: 7px;
  padding-right: 50px;
}

.container {
  padding-top: 130px;
}

#ir3 {
  padding-left: 50px;
}

.vl {
  border-left: 1px solid;
  height: 70px;
	    background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
      background-image: -moz-linear-gradient(top, #fff, #000, #fff);
      background-image: -ms-linear-gradient(top, #fff, #000, #fff);
      background-image: -o-linear-gradient(top, #fff, #000, #fff);
      background-image: linear-gradient(top, #fff, #000, #fff);
}

.vl1 {
  border-left: 1px solid;
  height: 70px;
	    background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
      background-image: -moz-linear-gradient(top, #fff, #000, #fff);
      background-image: -ms-linear-gradient(top, #fff, #000, #fff);
      background-image: -o-linear-gradient(top, #fff, #000, #fff);
      background-image: linear-gradient(top, #fff, #000, #fff);
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 95%;                
  background-color:#ffffff;
  height: 1px;
}

#collapse3 {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.teksts {
  padding-top: 70px;
  text-align: center;
  padding-bottom: 10px;
}

#collapse {
  background-color: transparent;
}

.balts {
  color: white;
}

.lielis {
  width: 35%;
  display: inline-block;
}

.form-control {
  border: 1px solid #000000;
  background-color: #000;
  margin: auto;
  color: #ffffff;
}

.nav-toggle3 {
  border: none;
  background: none;
  color: white;
}

.lieliss {
  padding-top: 50px;
  width: 15%;
  display: inline-block;
}

#yess {
  padding-left: 100px;
  padding-top: 150px;
  color: white;
}

.conv {
  display: none;
  padding-left: 100px;
  font-size: 16px;
  padding-top: 100px;
  color: white;
}

#inputFeet {
  border-radius: 7px;
}

#inputPounds {
  border-radius: 7px;
}

.convv {
  text-align: left;
  color: white;
}

.form-group {
  display: flex;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 40px;
  color: white;
  justify-content: space-evenly;
}

.navbar-brand {
  font-size: 35px;
}

.navbar-nav {
  display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}


@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  padding-top: 80px;
  text-align: center; 
  background-color: #ff666600; 
}

.btn {
  line-height: 35px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}

.btn:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}