#rod2 {
  width: 120px;
  height: 120px;
  filter: brightness(0) invert(0);
}
.uu1 {
  padding-bottom: 19px;
  padding-top: 12px;
}

.de {
  padding-bottom: 10px;
}

#vajg1 {
  padding-top: 3px;
}

#vajg2 {
  padding-top: 3px;
}
.uu2 {
  padding-top: 12px;
}

.deda {
  padding-top: 10px;
  display: flex;
  float: right;
}
.ded {

  
  display:flex;
}

#dedd {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}

#dedd {
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: 0 10px 15px rgb(0 0 0 / 75%);
}
#dedd {
  
  padding-left: 189px;
  padding-right: 180px;
  display: flex;
    justify-content: center;
    flex-direction: column;
}

label svg {
  position: absolute;
  width: 19px;
  height: 27px;
  top: 7px;
  z-index: 100;
}
label svg.sun {
  left: 12px;
  fill: #fff;
  transition: 0.3s;
}
label svg.moon {
  left: 55px;
  fill: #7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill:#7e7e7e;
}
input:checked + label svg.moon {
  fill:#fff;
}

label {
  width: 85px;
  height: 40px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 201px;
  box-shadow: inset 0px 5px 15px rgb(0 0 0 / 40%), inset 0px -5px 15px rgb(255 255 255 / 40%);
  cursor: pointer;
}

label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  left: 9px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
}
input {
  width: 0;
  height: 0;
}

.beigaas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left: 76px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
label, label:after {
  transition: 0.3s
}

svg {
  fill: none;
}

.imagew {
  position: absolute;
  z-index: -1;
  /* filter: brightness(120%); */
}

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #ffffff, #d1d1d1)
}




.btn-info {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

#ir2 {
  background-color: #e4e4e4;
  padding-bottom: 20px;
  width: 250px;
  float: left;
  margin: 20px;

  /* border: 1.5px solid; */

  /* border-top: 0;
  border-bottom: 0; */

  /* border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1; */
  box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 90%);;

  /* margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px; */
}

#rod1 {
  width: 95px;
  height: 95px;
  filter: brightness(0) invert(0);
  
}

#rod3 {
  width: 135x;
  height: 135px;
  filter: brightness(0);
}

#ir1 {
  background-color: #e4e4e4;

  padding-top: 7px;
  margin: 20px;


  /* margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px; */

  /* border: 1.5px solid; */

  /* border-top: 0;
  border-bottom: 0; */

  /* border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1; */
  box-shadow: 1px 5px 20px rgb(0 0 0 / 90%);
}


#ir3 {
  background-color: #e4e4e4;
  margin: 20px;

  /* margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px; */

  /* border: 1.5px solid; */

  /* border-top: 0;
  border-bottom: 0; */
  
  /* border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1; */
  box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 90%);

}

.row1 {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  flex-direction: row;
  /* padding-bottom: 20px; */
}

.col3 {
  margin: 20px;
}

.vl {
  border-left: 1px solid;
  height: 70px;
	    background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
      background-image: -moz-linear-gradient(top, #fff, #000, #fff);
      background-image: -ms-linear-gradient(top, #fff, #000, #fff);
      background-image: -o-linear-gradient(top, #fff, #000, #fff);
      background-image: linear-gradient(top, #fff, #000, #fff);
}

.vl1 {
  border-left: 1px solid;
  height: 70px;
	    background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
      background-image: -moz-linear-gradient(top, #fff, #000, #fff);
      background-image: -ms-linear-gradient(top, #fff, #000, #fff);
      background-image: -o-linear-gradient(top, #fff, #000, #fff);
      background-image: linear-gradient(top, #fff, #000, #fff);
}

hr {
  background-image: linear-gradient(90deg,transparent, rgb(0, 0, 0), transparent);  height: 1px;
  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
}

#collapse3 {
  display: flex;
  flex-wrap: wrap;
}

.teksts {
  text-align: center;
  padding-bottom: 10px;
}

#collapse {
  background-color: transparent;
}

#virsr {
  color: #fff;
    /* background: transparent; */
    padding-top: 39px;
    padding-bottom: 5px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    /* box-shadow: 0 7px 5px rgb(0 0 0 / 60%);
}

.balts {
  color: white;
}

.lielis {
  width: 35%;
  display: inline-block;
}

.form-control {
  border: 1px solid #000000;
  margin: auto;
}

.nav-toggle3 {
  border: none;
  background: none;
  color: white;
}

.lieliss {
  padding-top: 50px;
  width: 15%;
  display: inline-block;
}

#yess {
  padding-left: 100px;
  padding-top: 150px;
  color: white;
}

.container {
  /* padding-top: 350px; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.conv {
  display: none;
  padding-left: 100px;
  font-size: 16px;
  padding-top: 100px;
  color: white;
}

#inputFeet {
  border-radius: 7px;
}

#inputPounds {
  border-radius: 7px;
}

.convv {
  text-align: left;
  color: white;
}

.form-group {
  display: flex;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 38px;
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
}

.navbar-brand {
  font-size: 35px;
}

.navbar-nav {
  display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}


@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  text-align: center; 
  background-color: #ff666600; 
}

.btn {
  line-height: 35px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  position: relative;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover {
  color: #000000;
  text-decoration: none;
}

.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.navbar-dark .navbar-brand {
  color: rgb(0, 0, 0);
}

#dark1 {
  color: #000;
}

#dark2 {
  color: #000;
}

.navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    justify-content: center;
}



#imgg {
  width: 160px;
  height: 90px;
  filter: invert(100%);
  transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
  flex-direction: column;
}

#imggg {
filter: saturate(255); 
}

/* Dark mode styles */

.invert {
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #343434, #575757);
}

.invert #dedd {
  width: 100%;
  height: 100%;
  color: #000;
  background: transparent;
  box-shadow: 0 10px 15px rgb(0 0 0 / 75%);
}

.invert #navbarsExample03 {
  color: rgb(255, 255, 255);
}

.invert #rod1 {
  filter: brightness(0) invert(1);
}

.invert #rod2 {
  filter: brightness(0) invert(1);
}

.invert #rod3 {
  filter: brightness(0) invert(1);
}


.invert .navbar-brand {
  color: rgb(255, 255, 255);
}

.invert #dark2 {
  color: rgb(255, 255, 255);
  filter: contrast(100%);
}

.invert #dark1 {
  color: rgb(255, 255, 255);
  filter: contrast(100%);
}

.invert #ir2 {
  background-color: #555555;
  padding-bottom: 20px;
  width: 250px;
  float: left;

  /* border: 1.5px solid; */

  /* border-top: 0;
  border-bottom: 0; */

  /* border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1; */
  box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 90%);

  /* margin-top: 20px;
  margin-bottom: 20px; */


}

.invert #ir1 {
  background-color: #555555;
  padding-top: 7px;

  /* border-top: 0;
  border-bottom: 0; */
  /* border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1; */
  box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 90%);
}

.invert #ir3 {
  background-color: #555555;

  /* border-top: 0;
  border-bottom: 0; */
  /* border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1; */
  box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 90%);
}

.mainit {
  padding-top: 120px;
  margin: 0;
  text-align: center;
  display: flex;
  padding-bottom: 80px;
  /* width: 80%; */
  flex-direction: column;
  align-items: center;
}

.invert .form-group {
  display: flex;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 40px;
  color: rgb(255, 255, 255);
  justify-content: space-evenly;
}

.invert hr {
  
  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;                
  background-image: linear-gradient(90deg,transparent, rgb(255, 255, 255), transparent);  height: 1px;
}



.invert .btn {
  line-height: 35px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.invert .btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}

.invert .btn-one span {
  transition: all 0.3s;
}

.invert .btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}

.invert .btn-one:hover span {
  letter-spacing: 2px;
}

.invert .btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}

.invert .btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}

.invert .btn:hover {
  color: #ffffff;
  text-decoration: none;
}

.invert .btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.invert #imggg {
  filter: invert(100%);
}

.invert #virsr {
    /* color: #000; */
    /* background: transparent; */
    padding-top: 39px;
    padding-bottom: 5px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    /* box-shadow: 0 7px 5px rgb(0 0 0 / 60%);
}

/* .saturate { filter: saturate(255); }

.invert .saturate { filter: saturate(255); } */

}